
dist-electron/.DS_Store
.DS_Store
*/.DS_Store
/node_modules
/dist-electron
dist-electron/preload.mjs
/build
/python-dist
/release
/dist-electron
*.pyc
dist-electron/main.js
dist-electron/preload.mjs
python/__pycache__/api_model.cpython-313.pyc
